@font-face {
    font-family: 'Inter-Regular';
    src:url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.svg#Inter-Regular') format('svg'),
    url('../fonts/Inter-Regular.eot'),
    url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto-Regular";
    src: url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'),
    url('../fonts/Roboto-Regular.eot'),
    url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html, body {
    background-image: url("../images/background.png");
    text-align: center;
    padding: 0;
    margin: 0;
}
body * {
    box-sizing: border-box;
    list-style-type: none;
}
.body_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/onDiagramOpenBackground.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 9999;
}
.regions-map {
    position: relative;
    background-image: url("../images/map.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 1014px;
}
.regions-map__image {
    opacity: 0.1;
}
.regions-map__heading {
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 20px;
    color: #0079BE;
    font-family: 'Roboto-Regular';
    margin: 35px 17px;
    z-index: 999;
}
.regions-map__search {
    position: absolute;
    font-style: normal;
    color: #0079BE;
    font-family: 'Roboto-Regular';
    margin: 25px 17px;
    z-index: 999;
    width: 373px;
    height: 54px;
    right: 10px;
}
.regions-map__search input {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    outline: none;
    border: 1px solid #0079BE;
    border-radius: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    padding-left: 10px;
    color: #0079BE;
}
.regions-map__search:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 86px;
    height: 100%;
    background: #0079BE;
    border-radius: 0 6px 6px 0;
    background-image: url(../images/search.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.regions-map__search input::placeholder {
    color: #0079BE;
    opacity: 0.3;
}
.regions-map__elems {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.regions-map__elems * {
    font-family: 'Inter-Regular';
}

.region-cell  {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer!important;
}
.region-cell:hover {
    z-index: 999999!important;
}

.region-cell_green {
    background-color: #4CD19C;
}
.region-cell_red {
    background-color: #D94139;
}
.region-cell_orange {
    background-color: #F5B452;
}
.region-cell__name {
    min-width: 200px;
    position: absolute;
    text-align: left;
    line-height: 15px;
    font-size: 16px;
    color:  #0079BE;
}
.region-cell__name-span {
    display: inline-block;
}
@media(max-width: 1360px) {
    .region-cell__name {
        font-size: 12px;
    }
}
.region-cell__satisfaction {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 17px;
    transform: translate(-50%, -50%);
    font-weight: 400;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
}
.region-cell__satisfaction:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.regions-map__notes {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.regions-map__h3 {
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #0079BE;
}
.regions-map__ul {
    text-align: left;
}
.regions-map__ul li {
    font-family: 'Roboto-Regular';
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    color: #0079BE;
    margin-bottom: 10px;
}
.excellent:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -36px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #4AD19D;
}
.satisfactory:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -36px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #F5B452;
}
.bad:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -36px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #D94139
}
.nodata:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -36px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #9A99A2;
}

.diagram-wrapper {
    width: 512px;
    height: 160px;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    transition: 750ms;
    -webkit-transition: 750ms;
    -moz-transition: 750ms;
    display: flex;
    z-index:999999999;
}
.diagram-itself {
    width: 160px;
    height: 160px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.diagram-city {
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
    border-radius: 10px;
    width: 329px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.diagram-city-inner {

}
.diagram-city-inner__name {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 17px;
    color: #0079BE;
    margin-bottom: 11px;
}
.canvas-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #13B5EA;
}
.canvas-link img {
    position: relative;
    top: 5px;
    left: 10px;
}
